
    <div id="page-content" class="ng-cloak">
    <div class="header hidden-xs" style="background: #0054a0;">
        <div class="container header-content">
            <div class="logo hidden-xs" alt="logo"></div>

            <div class="spacer"></div>
            <div class="title"><a href="#/">{{ applicationTitle}}</a></div>

            <div *ngIf="userName" class="welcome hidden-xs">
                {{ "Welcome, " + userName }}
            </div>
        </div>
    </div>
<div>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Controls</a></li>
        <li><a href="#">Objects</a></li>
        <li><a href="#">System Admin</a></li> 
        <li><a href="#">User Admin</a></li> 
      </ul>
    </div>
  </div>
</nav>
</div>

    <div id="content-container" class="container">
        <div class="row" id="content">
            <audit-controls></audit-controls>
        </div>

        <div id="footer">
            <p>FOOTER</p>
        </div>
    </div>
</div>